// Добавлялка элементов

@adder-title-height: 25px;
@adder-inactive-opacity: 0.5;

.redactor-adder {
  position: absolute;
  left: 100%;
  display: none;
  text-align: center;
  margin-top: -45px;

  &_visible {
    display: block;
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    padding-top: @adder-title-height;
    white-space: nowrap;
    text-align: left;
  }
  &__item {
    display: inline-block;
    margin-right: 2px;
    vertical-align: top;
    white-space: normal;
  }
  &__item-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    border: 3px solid;
    opacity: @adder-inactive-opacity;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
  &__item_type_text &__item-icon {
    font-size: 0;
    background: url(../images/text.svg) 50% 50%no-repeat;
    background-size: 30px;
  }
  &__item_type_image &__item-icon {
    font-size: 0;
    background: url(../images/image.svg) 50% 50% no-repeat;
    background-size: 30px;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    white-space: nowrap;
    font-size: 1.4em;

    &_type_placeholder {
      opacity: @adder-inactive-opacity;
    }
  }
  &__item:hover &__title {
    display: block;
  }
}
