@font-face {
  font-family: "Signify";
  src: url("fonts/signify.woff") format("woff"),
  url("fonts/signify.ttf") format("truetype");
}


html,
body {
  height: 100%;
}
body {
  background: url(https://s3-eu-west-1.amazonaws.com/piumosso.ru/typewritter.jpg) 0  50% / cover no-repeat fixed;
}


// Demo wrapper

.demo {
  height: 100%;
  font-size: 10px;
}


// First block

.demo-intro {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  border: solid white;
  border-width: 2px 2px 5px;

  &:before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 50%;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
  }
  &:after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 50%;
    border-left: 15px solid transparent;
    border-bottom: 15px solid white;
  }

  &__name {
    position: relative;
    top: -5em;
    text-align: center;
    width: 60%;
    min-width: 800px;
  }
  &__logo {
    position: relative;
    display: inline-block;
    height: 15em;
    color: white;
    text-align: center;
  }
  &__logo-text {
    font-family: Signify;
    letter-spacing: -0.25em;
    font-size: 8em;
    text-shadow: 2px 2px 1px fade(black, 50%);
  }
  &__description {
    position: absolute;
    bottom: 0.2em;
    left: 1em;
    font-size: 1.7em;
    right: 0;
  }
  &__links {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    text-align: right;
  }
  &__link {
    display: inline-block;
    margin: 0 1em;
    padding: 0 1em;
    text-transform: uppercase;
    line-height: 2em;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px fade(black, 50%);
  }
}


// Example wrapper

.demo-example {
  padding: 6em 0;
  line-height: 2.6em;
  background: white;
  color: black;

  & + & {
    border-top: 3px solid black;
  }

  &_style_0 {}
  &_style_1 {
    background: linear-gradient(to bottom right, #004a9b 0%, #00445a 100%);
    color: white;
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1200px;
  }
  &__redactor {
    max-width: 750px;
  }

  h2 {
    margin: 1em 0 0;
    padding-bottom: 0.8em;
    font-size: 3.2em;
    font-weight: normal;
  }
  .redactor-block:first-child h2 {
    margin-top: 0;
  }
  p, ul, ol {
    font-size: 1.8em;

    span[contenteditable] {
      display: block;
    }
  }
  ul, ol {
    margin: 0;
    padding: 0;
  }
  p, li {
    margin: 0;
    padding: 0 0 1em;
  }
  li {
    padding-left: 1.5em;
  }
  ul {
    list-style: none;
  }
  ul li:before {
    content: "—";
    width: 1.5em;
    margin-left: -1.5em;
    float: left;
  }
}
