if blocks
    aside.redactor-adder.js-adder
        span.redactor-adder__wrapper
            span.redactor-adder__title.redactor-adder__title_type_placeholder.js-adder-title
                | Добавить блок в&nbsp;
                = type

            for block in blocks
                span.redactor-adder__item.js-adder-item(class= 'redactor-adder__item_type_' + block.type,
                                                        data-type=block.type,
                                                        data-name=block.verboseName)
                    = verboseName
